@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --card-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Abel', sans-serif; */
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #000;
}


ul {
    list-style-type: none;
}

/* NAVBAR */
.navbar {
    height: 70px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--card-color);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.navbar .start img {
    margin-right: 20px;
}

.navbar .nav-header {
    color: #333;
}

.navitems {
    /* height: 100%; */
}

.navitems ul {
    /* height: 100%; */
    /* padding: 0px 0; */
}

.navitems li {
    margin: 0 15px;
    vertical-align: middle;
    padding: 10px 0;
}

.navitems li:hover {
    border-bottom: 3px rgb(255, 123, 0) solid;
    padding-bottom: 3px;
}

.navitems li a {
    height: 100%;
}

/* HEADER */
.header {
    margin-bottom: 20px 0;
    justify-content: space-between;
    text-align: center;
}

/* MAIN */
.main {
    margin: 20px 0;
}

.main .card h3 {
    margin-bottom: 10px;
    color: #666;
    border-bottom: 1px #ccc solid;
}

/* TABLE */
.stat-table {
    grid-column: 1 / span 2;
    margin: 15px 0;
}

#table-total-carry > label {
    margin-right: 10px;
}

#stat-table {
    margin-bottom: 15px;
}

/* DIST-PLOTS */
.dist-plots {
    grid-column: 3 / span 4;
    margin: 15px 0;
}

.dist-plots .dist-plot-bottom > div {
    margin-right: 30px;
    margin-top: 30px;
}

.dist-plots .dist-plot-bottom div > label {
    margin-right: 10px;
    /* margin-top: 30px; */
}


/* DATA */
.data-upload a {
    text-decoration: underline;
}

#output-data-upload {
    width: 40%;
    margin: 0 auto;
}

.upload-error-message {
    color: #DC2700;
    font-weight: bold;
    text-align: center;
}

#download_btn_id {
    padding: 10px 20px;
    background-color: var(--card-color);
    border-radius: 5px;
    border: 1px #888 solid;
}

#download_btn_id:hover {
    transform: scale(0.99);
    border-color: #333;
}